header { padding: 5px; background-color: lightgreen; }

section .content, section .sidebar { float: left; margin: 0; }
section .content { width: 50%; background-color: purple; }
section .sidebar { width: 50%; background-color: pink;}
section .box { padding: 20px; }

footer { padding: 20px; background-color: lightgreen; }
